.cardContent {
    font-size: 0.875rem;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;

}

.card {
    padding: 0;
    overflow: hidden;
    border-width: 2px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-size: cover;
    background-position: center;
    border-radius: 0%;
}

.card_0 .imageWrapper {
    height: 177px;
}

.imageWrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
}



.image {
    transition: transform 0.5s ease;
}

@media (width >=48rem) {
    .imageWrapper {
        height: 177px;
    }
}

.card_0 {
    height: 58%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
    z-index: 1;
}


.card_1 {
    height: 51%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 245px;
    bottom: 0;
    transition: all 0.5s ease;
    z-index: 1;

}

.card_2 {
    height: 51%;
    width: 50%;
    top: 245px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;
    z-index: 1;
}



.cardClick_0 .cardContent,
.cardClick_1 .cardContent,
.cardClick_2 .cardContent {
    opacity: 1;
    max-height: 100px;
}

.cardClick_0 .imageWrapper,
.cardClick_1 .imageWrapper,
.cardClick_2 .imageWrapper {
    height: 200px;
    width: 100%;
}

.cardClick_0,
.cardClick_1 {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    transition: all 0.5s ease;
    z-index: 10;
}


.cardClick_2 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease;
    z-index: 10;
}