.card:hover .cardContent {
    opacity: 1;
    max-height: 100px;
}

.cardContent {
    font-size: 0.875rem;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;

}

.card {
    transition: all 0.5s ease;
    height: 300px;
    padding: 0;
    width: 300px;
    overflow: hidden;
    padding-bottom: 20px;
    border-width: 2px;
    background: transparent;

}

.card:hover {
    height: auto !important;
    width: 400px !important;
    box-shadow: 0 25px 50px -12px #F1895C;
    scale: 1.05;
    z-index: 1;
}