.card:hover .cardContent {
    opacity: 1;
    max-height: 100px;
}

.cardContent {
    font-size: 0.875rem;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;

}

.card {
    padding: 0;
    overflow: hidden;
    border-width: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-size: cover;
    background-position: center;
    border-radius: 0px;

}

.imageWrapper {
    height: 177px;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
}

.card:hover .imageWrapper {
    height: 366px;
}

.image {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}


#card_0 {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}


#card_1 {
    height: 100px;
    width: 400px;
    position: absolute;
    left: 0;
    top: 245px;
    bottom: 0;
    border-radius: 0 0 0 12px;
    transition: all 0.5s ease;
}

#card_2 {
    height: 200px;
    width: 400px;
    top: 245px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;
}

#card_0:hover,
#card_1:hover {
    height: 840px !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    bottom: auto !important;
    right: auto !important;
    z-index: 10;
}

#card_2:hover {
    height: 840px !important;
    width: 100% !important;
    top: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 10;
}