.navLinks::before {
    content: "";
    position: absolute;
    background-color: #F1895C;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 0;
}

.navLinks:hover::before {
    content: "";
    position: absolute;
    background-color: #F1895C;
    border-radius: 40%;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 80%;
    animation: var(--animate-nav);
    transition-duration: 0.3s;

}

.navLinks {
    padding: 8px;
    padding-right: 24px;
    position: relative;
}

.navLinks:hover {
    color: #F1895C;
}